*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ' Arial';
}

.container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}

@media only screen and (max-width: 479px){
    .container{
        width: 100%;
        height: 97vh;
        background-color: aqua;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* justify-content: space-evenly; */
    }
}

.small{
    width: 30%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media only screen and (max-width: 479px){
    .small{
        width: 100%;
        height: 35vh;
        background-color: gold;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media only screen and (min-width: 480;)(max-width: 767px){
    
}

.front{
    position: relative;
    left: 30%;
    top: 17.5%;
    width: 100%;
    height: 30vh;
    background-color: blue;
    border-radius: 8%;
}

@media only screen and (max-width: 479px){
    .front{
        position: absolute;
        width: 83%;
        height: 25vh;
        background-color: rgb(97, 97, 167);
        border-radius: 8%;
        top: 13%;
        left: 3%;
    }
}

.back{
    position: relative;
    left: 50%;
    bottom: 17.5%; 
    width: 100%;
    height: 30vh;
    background-color: #fff;
    border-radius: 8%;
}

@media only screen and (max-width: 479px){
    .back{
        position: absolute;
        width: 83%;
        height: 25vh;
        background-color: #87b320;
        border-radius: 8%;
        top: 5%;
        left: 15%;
    }
}

.big{
    /* float: right; */
    width: 70%;
    height: 70vh;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 479px){
    .big{
        width: 95%;
        height: 70vh;
        background-color: rgb(11, 33, 75);
        display: flex;
        align-items: center;
        padding-top: 10px;
    }
}

form{
    width: 36%;
    height: 70vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    margin-left: 37%;
}

@media only screen and (max-width: 479px){
    form{
        width: 100%;
        height: 65vh;
        background-color: aquamarine;
        display: flex;
        align-items: center;
        margin-left: 0;
    }
}

.main{
    width: 87%;
    height: 50vh;
    display: flex;
    /* align-items: center; */
    background-color: blanchedalmond;
    justify-content: space-between;
    flex-direction: column;
}

@media only screen and (max-width: 479px){
    .main{
        width: 100%;
        height: 50vh;
        display: flex;
        background-color: blanchedalmond;
        justify-content: space-between;
        flex-direction: column;
    }
}

.name{
    width: 100%;
    height: 12.1vh;
    background-color: lawngreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    width: 100%;
    height: 12.1vh;
    background-color: rgb(77, 150, 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.other{
    width: 100%;
    height: 12.1vh;
    background-color: lawngreen;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card-details{
    width: 54%;
    height: 12.1vh;
    background-color: rgb(69, 113, 26);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cvc{
    width: 45%;
    height: 12.1vh;
    background-color: rgb(110, 113, 26);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 12px;
}

input{
    margin-top: 5px;
    width: 99%;
    height: 6vh;
    border-radius: 0.75vh;
    border: none;
    padding-left: 15px;
    font-family: Roboto Slab;
}

.card-details input{
    margin-top: 3px;
    width: 48%;
}

.cvc input{
    margin-top: 3px;
    width: 98%;
}

.btn{
    width: 100%;
    height: 12.1vh;
    background-color: lawngreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 100%;
    height: 6vh;
    border-radius: 0.75vh;
    border: none;
    padding-left: 15px;
}